<div class="container-custom">
  <p-card styleClass="ui-card-shadow">
      <div class="ui-g">
        <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)" class="ui-g-12 ui-md-12">
            <div class="ui-g-12">
                <h1> {{editando ? 'Edição de empresa' : 'Nova empresa'}}</h1>
            </div>

            <div class="ui-g-12">
                <h3>campos obrigatórios
                  <span style="color: brown; margin-left: 3.5px;">*</span>
                </h3>
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Nome</label><span style="color: brown; margin-left: 3.5px;">*</span>
                <input pInputText minlength="5" required
                  ngModel name="nome" #nome="ngModel" [(ngModel)]="empresa.nome"/>

                  <app-message [control]="nome" error="required" 
                    text="Informe o nome"></app-message>

                  <app-message [control]="nome" error="minlength" 
                    text="Mínimo de {{ nome?.errors?.minlength?.requiredLength }} caracteres.">
                  </app-message>
            </div>

            <div class="ui-g-12 ui-md-3 ui-fluid">
              <label>CPF</label> <span style="color: brown; margin-left: 3.5px;">*</span>
              <p-inputMask required mask="99.999.999/9999-99"
                ngModel name="cnpj" #cnpj="ngModel" [(ngModel)]="empresa.cnpj">

                <app-message [control]="cnpj" error="required" 
                  text="Informe o cpf."></app-message>
              </p-inputMask>
            </div>

            <div class="ui-g-12 ui-md-3 ui-fluid">
              <label>Categoria</label><span style="color: brown; margin-left: 3.5px;">*</span>
              <p-dropdown [options]="categorias" [(ngModel)]="empresa.categoria.codigo" 
                          name="categoria" required
                          placeholder="Selecione" [filter]="true">
              </p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid">
              <p-accordion [multiple]="true">
                  <p-accordionTab header="Dados do endereço" [selected]="true">
                      <div class="ui-g-12 ui-md-3 ui-fluid" 
                           style="margin-left: 0%;margin-right: 83.33333333% !important;">
                          <label>CEP</label><span style="color: brown; margin-left: 3.5px;">*</span>
                          <p-inputMask mask="99999-999" required
                                 ngModel #cep="ngModel"
                                 [(ngModel)]="empresa.cep" 
                                 name="cep">
                                 <app-message [control]="cep" error="required" 
                                       text="Informe o cep"></app-message>
                          </p-inputMask>
                      </div>                        
                      
                      <div class="ui-g-12 ui-md-3 ui-fluid">
                            <label>Endereço</label><span style="color: brown; margin-left: 3.5px;">*</span>
                            <input pInputText required
                                    ngModel #endereco="ngModel"
                                    [(ngModel)]="empresa.endereco" name="endereco"/>
                                    <app-message [control]="endereco" error="required" 
                                    text="Informe o endereço"></app-message>
                      </div>

                      <div class="ui-g-12 ui-md-3 ui-fluid">
                          <label>Bairro</label><span style="color: brown; margin-left: 3.5px;">*</span>
                          <input pInputText required
                                 ngModel #bairro="ngModel"
                                 [(ngModel)]="empresa.bairro" name="bairro"/>
                                 <app-message [control]="bairro" error="required" 
                                    text="Informe o bairro"></app-message>
                                  
                      </div>

                      <div class="ui-g-12 ui-md-3 ui-fluid">
                          <label>Cidade</label><span style="color: brown; margin-left: 3.5px;">*</span>
                          <input pInputText required
                                 ngModel #cidade="ngModel"
                                 [(ngModel)]="empresa.cidade" name="cidade"/>
                            <app-message [control]="cidade" error="required" 
                                            text="Informe a cidade"></app-message>
                      </div>

                      <div class="ui-g-12 ui-md-1 ui-fluid">
                          <label>UF</label><span style="color: brown; margin-left: 3.5px;">*</span>
                          <p-dropdown [options]="ufs" required
                                      placeholder="Selecione" [filter]="true"
                                      [(ngModel)]="empresa.uf" name="uf">
                          </p-dropdown>
                      </div>

                      <div class="ui-g-12 ui-md-2 ui-fluid">
                          <label>Número</label><span style="color: brown; margin-left: 3.5px;">*</span>
                          <input pInputText required
                                  [(ngModel)]="empresa.numero" name="numero"/>
                      </div>

                  </p-accordionTab>
              </p-accordion>
          </div>


          <div class="ui-g-12 ui-md-12 ui-fluid">
            <p-accordion [multiple]="true">
                <p-accordionTab header="Dados de contato" [selected]="true">
                      <div class="ui-g-12 ui-md-3 ui-fluid" 
                         style="margin-left: 0%;margin-right: 83.33333333% !important;">
                        <label>E-mail</label><span style="color: brown; margin-left: 3.5px;">*</span>
                        <input pInputText required
                                  ngModel #email="ngModel"
                                  [(ngModel)]="empresa.email" name="email"/>
                                  <app-message [control]="email" error="required" 
                                  text="Informe o e-mail"></app-message>    
                      </div>                        
                    
                      <div class="ui-g-12 ui-md-3 ui-fluid">
                          <label>Celular</label><span style="color: brown; margin-left: 3.5px;">*</span>
                          <p-inputMask mask="(99)9 9999-9999" required
                                 ngModel #celular="ngModel"
                                 [(ngModel)]="empresa.celular" 
                                 name="cep">
                                 <app-message [control]="celular" error="required" 
                                       text="Informe o celular"></app-message>
                          </p-inputMask>
                      </div>

                      <div class="ui-g-12 ui-md-3 ui-fluid">
                        <label>Telefone</label>
                        <p-inputMask mask="(99)9999-9999"
                               [(ngModel)]="empresa.telefone" name="telefone">
                        </p-inputMask>
                      </div>
                      <div class="ui-g-12 ui-md-6 ui-fluid">
                        <label>Site</label>
                        <input pInputText 
                               [(ngModel)]="empresa.site" name="site"/>
                      </div>
                   
                </p-accordionTab>
            </p-accordion>
        </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class="ui-button-success btn-margin"></button>
                <button pButton type="submit" label="Voltar" routerLink="/empresas" class="ui-button-info"></button>
            </div>
        </form>
  </div>
</p-card>
</div>
