<div class="container-custom">
  <p-card styleClass="ui-card-shadow">
      <div class="ui-g">
        <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
            <div class="ui-g-12">
                <h1> {{editando ? 'Edição de categoria' : 'Nova categoria'}}</h1>
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Nome</label>
                <input pInputText minlength="5" required
                  ngModel name="nome" #nome="ngModel" [(ngModel)]="categoria.nome"/>

                  <app-message [control]="nome" error="required" 
                    text="Informe o nome"></app-message>

                  <app-message [control]="nome" error="minlength" 
                    text="Mínimo de {{ nome?.errors?.minlength?.requiredLength }} caracteres.">
                  </app-message>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class="ui-button-success btn-margin"></button>
                <button pButton type="submit" label="Voltar" routerLink="/categorias" class="ui-button-info"></button>
            </div>
        </form>
  </div>
</p-card>
</div>
