<div class="container-custom">
    <p-card styleClass="ui-card-shadow">
      <div class="ui-g">       
          <form autocomplete="off" (ngSubmit)="pesquisar()" class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-12 ui-fluid">
                <h1>Disciplinas</h1>
            </div>
  
            <div class="ui-g-12 ui-md-12 ui-fluid">
              <label> Nome </label>
              <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome" />
            </div>
  
            <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar" class="ui-button-info"></button>
                <a pButton label="Adicionar" routerLink="nova" class="ui-button-info" 
                    style="float: right"> </a>
            </div>
         </form>
  
      <div class="ui-g">
        <div class="ui-g-12">
          <p-table [value]="disciplinas" [responsive]="true"
                  [rows]="filtro.itensPorPagina" [paginator]="true"
                  [lazy]="true" [totalRecords]="totalRegistros" 
                  (onLazyLoad)="onMudarPagina($event)" #tabela>
            <ng-template pTemplate="header">
              <tr>
                <th class="col-nome-tb-codigo">#</th>
                <th class="col-nome-tb-disciplina">Nome</th>
                <th class="col-acoes">Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-disciplina>
              <tr>
                <td class="col-nome-tb-codigo">{{ disciplina.codigo }}</td>
                <td class="col-nome-tb-disciplina">{{ disciplina.nome }}</td>
              
                <td class="col-acoes">
                  <a pButton icon="pi pi-pencil" pTooltip="Editar"
                    [routerLink]="[ '/disciplinas', disciplina.codigo ]"
                    tooltipPosition="top" style="margin-right: 5px">
                  </a>
                  <button pButton icon="pi pi-trash" class="ui-button-danger"
                          (click)="confirmExclusao(disciplina.codigo, disciplina.nome)"
                          pTooltip="Excluir" tooltipPosition="top">
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="3">
                        Nenhum registro encontrado.
                    </td>
                </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    </p-card>
  </div>
  