<div class="container-custom">
  <p-card styleClass="ui-card-shadow">
      <div class="ui-g">
        <form #f="ngForm" autocomplete="off" class="ui-g-12 ui-md-12" (ngSubmit)="salvar(f)">
            <div class="ui-g-12">
                <h1> Nova turma </h1>
            </div>
            
            <div class="ui-g-12">
              <h3>campos obrigatórios
                <span style="color: brown; margin-left: 3.5px;">*</span>
              </h3>
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Nome</label><span style="color: brown; margin-left: 3.5px;">*</span>
                <input pInputText minlength="5" required autofocus
                  ngModel name="nome" #nome="ngModel" [(ngModel)]="turma.nome"/>

                  <app-message [control]="nome" error="required" 
                    text="Informe o nome"></app-message>

                  <app-message [control]="nome" error="minlength" 
                    text="Mínimo de {{ nome?.errors?.minlength?.requiredLength }} caracteres.">
                  </app-message>
            </div>

            <div class="ui-g-12 ui-md-2 ui-fluid">
              <label>Nº de vagas</label>
              <input pInputText
                ngModel name="nvagas" #nome="ngModel" [(ngModel)]="turma.nvagas"/>
            </div>

            <div class="ui-g-12 ui-md-2 ui-fluid">
              <label>Curso</label><span style="color: brown; margin-left: 3.5px;">*</span>
              <p-dropdown [options]="cursos" required
                          [filter]="true"
                          placeholder="Pesquisar curso"
                          #curso="ngModel" ngModel name="curso" [(ngModel)]="turma.curso.codigo">
              </p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-2 ui-fluid">
              <label>Ativo</label><span style="color: brown; margin-left: 3.5px;">*</span>
              <p-dropdown [options]="ativo" required
                          placeholder="Selecione"
                          [(ngModel)]="turma.status" name="status">
              </p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-2 ui-fluid">
              <label>Data de ínicio</label>
                <p-calendar [showIcon]="true" [locale]="pt"
                    name="datainicio" [(ngModel)]="turma.datainicio" 
                    #datainicio="ngModel" ngModel
                    dateFormat="dd/mm/yy">
                </p-calendar>
            </div>

            <div class="ui-g-12 ui-md-2 ui-fluid">
              <label>Data de término</label>
                <p-calendar [showIcon]="true" [locale]="pt"
                    name="datatermino" [(ngModel)]="turma.datatermino" 
                    #datatermino="ngModel" ngModel
                    dateFormat="dd/mm/yy">
                </p-calendar>
            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid">
              <label>Turno</label>
              <textarea pInputTextarea [rows]="5" style="resize: none;"
                ngModel name="turno" #nome="ngModel" [(ngModel)]="turma.turno">
              </textarea>
            </div>

            <!-- Fim Dados básicos -->
            
            <!-- Horários -->
            <div class="ui-g-12">
                <h3>Horários das aulas</h3>
            </div>
            <form #fh="ngForm" autocomplete="off" class="ui-g-12 ui-md-12" *ngIf="turma.codigo">

            <div class="ui-g-12 ui-md-3 ui-fluid">
                <label>Disciplina</label><span style="color: brown; margin-left: 3.5px;">*</span>
                <p-dropdown [options]="disciplinas" required
                            [(ngModel)]="horario.disciplina.codigo" name="disciplina"
                            [filter]="true"
                            placeholder="Pesquisar disciplina">
                </p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-3 ui-fluid">
                <label>Professor</label><span style="color: brown; margin-left: 3.5px;">*</span>
                <p-dropdown [options]="professores" required
                            [(ngModel)]="horario.professor.codigo" name="professor"
                            [filter]="true"
                            placeholder="Pesquisar professor">
                </p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-2 ui-fluid">
                <label>Data da aula</label><span style="color: brown; margin-left: 3.5px;">*</span>
                  <p-calendar [showIcon]="true" [locale]="pt" required
                      [(ngModel)]="horario.dataAula" name="dataAula"
                      dateFormat="dd/mm/yy">
                  </p-calendar>
            </div>

            <div class="ui-g-12 ui-md-1 ui-fluid">
                <label>Início</label><span style="color: brown; margin-left: 3.5px;">*</span>
                <p-inputMask mask="99:99" [(ngModel)]="horario.inicio" name="inicio" required>
                </p-inputMask>
            </div>

            <div class="ui-g-12 ui-md-1 ui-fluid">
                <label>Fim {{ horario.fim?.replace(":", "").length }} </label><span style="color: brown; margin-left: 3.5px;">*</span>
                <p-inputMask mask="99:99" minlength="5" [(ngModel)]="horario.fim" name="fim" required>
                </p-inputMask>
            </div>

            <div class="ui-g-12 ui-md-1 ui-fluid" style="margin-top: 22px; text-align: center;">
              <button pButton type="button" (click)="adicionarHorario(horario, fh)"
                [disabled]="fh.invalid"
                label="Adicionar" class="ui-button-info">
              </button>
            </div>

            <div class="ui-g-12 ui-md-1 ui-fluid" style="margin-top: 22px; text-align: center;">
                <button pButton type="button"
                  [disabled]="fh.invalid" (click)="limparFormHorario(fh)"
                  label="Limpar" class="ui-button-info">
                </button>
              </div>
          </form>

            <!-- Fim Horários -->

            <!-- Tabela de horários -->
              <div class="ui-g-12" *ngIf="turma.codigo">
                <br><br>
                <p-table [value]="horarios" [responsive]="true"
                        [rows]="6" [paginator]="true" #tabela>
                  <ng-template pTemplate="header">
                    <tr>
                      <th >Disciplina</th>
                      <th >Professor</th>
                      <th class="col-data-aula-tb-horario">Data da aula</th>
                      <th class="col-acoes">Início</th>
                      <th class="col-acoes">Fim</th>
                      <th class="col-acoes">Ações</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-horario>
                    <tr>
                      <td >{{ horario.nomeDisciplina }}</td>
                      <td >{{ horario.nomeProfessor }}</td>
                      <td class="col-data-aula-tb-horario">{{ horario.dataAula | date:'dd/MM/yyyy' }}</td>
                      <td class="col-acoes">{{ horario.inicio }}</td>
                      <td class="col-acoes">{{ horario.fim }}</td>
                      <td class="col-acoes">
                        <!-- <a pButton icon="pi pi-pencil" pTooltip="Editar"
                          [routerLink]="[ '/horarios', horario.codigo ]"
                          tooltipPosition="top" style="margin-right: 5px">
                        </a> -->
                        <a pButton icon="pi pi-trash" class="ui-button-danger"
                                (click)="confirmExclusaoHorario(horario.codigo)"
                                pTooltip="Excluir" tooltipPosition="top">
                        </a>  
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-columns>
                      <tr>
                          <td [attr.colspan]="6">
                              Nenhum registro encontrado.
                          </td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
            <!-- Fim Tabela de horários -->

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class="ui-button-success btn-margin"></button>
                <button pButton type="submit" label="Voltar" routerLink="/turmas" class="ui-button-info"></button>
            </div>
        </form>
  </div>
</p-card>
</div>
