/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f3f3f3;
}

label {
    font-weight: bold;
}

@media(min-width: 1200px){
    .container-custom {
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

.ui-button-success {
    color: #ffffff !important;
    background-color: #34A835 !important;
    border: 1px solid #34A835 !important;
}

.ui-button-danger {
    color: #ffffff !important;
    background-color: #e91224 !important;
    border: 1px solid #e91224 !important;
}

.btn-margin {
    margin-right: 7px !important;
}

.ui-inputgroup .ui-inputgroup-addon {
    display: inline-block;
    text-align: center;
    min-width: 1.5em;
    border-width: 1px;
    border-style: solid;
    content: 18px;
    padding-top: 2px;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

/* Custom Tables */
.col-valor {
    width: 120px;
    text-align: right;
}

.col-data {
    width: 120px;
    text-align: center;
}

.col-acoes {
    width: 90px;
    text-align: center;
}

.container-custom {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-status {
    width: 120px;
    text-align: center;
}

.col-estado {
    width: 120px;
    text-align: center;
}

.col-cidade {
    text-align: center;
    width: 280px;
}

.col-nome-tb-categoria {
    text-align: center;
}

.col-nome-tb-codigo {
    text-align: center;
    width: 80px;
}


/* ==== */